{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'CSS/index.css' %}">
<div class="home-page">
    <main>
        <h2>Bizning umumiy ovqatlanish tarmog'imizga xush kelibsiz...</h2>

        <section class="home-food-cards">
            <h3>Bugungi Maxsus Taomlar</h3>
            <div class="row mt-3">
                {% for food in foods %}
                {% if food.nomi == "Osh" or food.nomi == "Shashlik" %}
                <div class="col-md-6 home-food-card">
                    <div class="card shadow-sm">
                        <img src="{{ food.image.url }}" alt="{{ food.nomi }}">
                        <div class="card-body">
                            <p style="color: black">{{ food.nomi }} - {{ food.narx }} so'm</p>
                            <button class="btn btn-primary details-btn">
                                {{ food.tavsif }}
                            </button>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </section>
    </main>
</div>
{% endblock %}