{% extends 'base.html' %}
{% load static %}

{% block title %}Monitoring{% endblock %}

{% block page_title %}<h2 class="text-white">Monitoring</h2>{% endblock %}

{% block content %}
<div class="container mt-5">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">CSV faylni yuklash</button>
    </form>

    {% if data %}
    <h3 class="mt-4">Monitoring Natijalari:</h3>
    <div>
        {{ data|safe }}
    </div>
    <h3 class="mt-4">Grafik:</h3>
    <img src="data:image/png;base64,{{ image }}" alt="Monitoring grafiki">
    {% endif %}
</div>
{% endblock %}